.product__form  span{
    color: var(--heading-text-color);
    font-weight: 500;
    font-size: .9rem;
}

.form__group select,
.form__group input,
.form__group textarea{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}
.form__group input:focus,
.form__group textarea:focus{
   border-color: var(--card-bg-04); 
}